.main
  margin-top: 16rem
  margin-bottom: 9rem
  padding: 0 3rem
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
  background-image: url(/img/parco_sat_green.jpg)
  background-position: 0% 0%
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  height: 80vh

  .title
    font-size: 4rem
    line-height: 1.125
    padding: 1.5rem
    background-color: #ffffff
    height: min-content
    position: relative
    top: -6rem
    text-transform: uppercase
    letter-spacing: 1px
    max-width: 50%
