.main
  display: grid
  // grid-column-gap: var(--grid-gap)
  grid-template-rows: repeat(5, 1fr) min-content
  grid-template-columns: repeat(8, 1fr)
  grid-gap: .5rem

  &_landscape
    z-index: 2
    grid-area: 1 / 1 / 4 / 4
    & > img
      height: 75vh
      width: auto


  &_portrait
    z-index: 2
    grid-area: 2 / 5 / 5 / 9

  &_titleBox
    grid-area: 3 / 2 / 6 / 8
    display: flex
    align-items: flex-end
    justify-content: flex-end
    min-height: 20rem
    background-color: #799d43

    &__title
      color: white


  &_content
    grid-area: 6 / 2 / 7 / 8
    margin-top: 7.5rem
    
