/* REVEAL EFFECT */
.reveal-effect {
  float: left;
  overflow: hidden;
  position: relative;
  transition-property: transform;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  
  &.animated {
    transform: translate(0, 0);
    animation-name: show-img-1;

    &:after { animation-name: slide-bg-2; }
  }

  &:after {
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left top;
    transform: scale(0.05, 0);
    animation-duration: 1s;
  }

  &.masker {
    &:after { background-color: #eee; }
  }
}

.reveal-effect > * {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: relative;
}
