@keyframes moveFw {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  47% {
    transform-origin: left;
    animation-mode: forwards;
    transform: scaleX(1);
  }
  50% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
@keyframes moveBw {
  0% {
    transform-origin: right;
    transform: scaleX(0);
  }
  47% {
    transform-origin: right;
    animation-mode: forwards;
    transform: scaleX(1);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
}
@keyframes moveUp {
  0% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
  47% {
    transform-origin: bottom;
    animation-mode: forwards;
    transform: scaleY(1);
  }
  50% {
    transform-origin: top;
    transform: scaleY(1);
  }
  100% {
    transform-origin: top;
    transform: scaleY(0);
  }
}
@keyframes moveDown {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }
  47% {
    transform-origin: top;
    animation-mode: forwards;
    transform: scaleY(1);
  }
  50% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// @keyframes hide {
//   from {
//     opacity: 1;
//   }
//   to {
//     opacity: 0;
//   }
// }

.br {
  position: relative;
  display: inline-block;
  z-index: 5;

  &__element {
    opacity: 0;
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  &__block {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    animation-fill-mode: both;
    // transform: scaleY(0);
    // transform: scaleX(0);
    // animation-name: moveFw;
    // transform-origin: left;
    &--l2r {
      animation-name: moveFw;
    }
    &--r2l {
      animation-name: moveBw;
    }
    &--b2t {
      animation-name: moveUp;
    }
    &--t2b {
      animation-name: moveDown;
    }
  }
}
