.Main
  height: 4rem
  width: 100%
  position: fixed
  top: 0
  z-index: 100

  .logo
    height: 100%
    width: 100px
    background-repeat: no-repeat
    background-size: contain
    background-image: url(/img/logo.png)
    background-position: center
    z-index: 3000
