$background-color: hsl(50, 5%, 97%);
$black: hsl(200, 40%, 10%);
$white: $background-color;
$base-font-size: 2.4em;
$base-line-height: 1.5em;
$teal: #00887a;

.bq {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid $teal;
  font-size: 1rem;
  line-height: 1.6em;
  margin-bottom: 2em;
  &:before,
  &:after {
    content: "\201C";
    color: lighten($black, 40%);
  }
  &:after {
    content: "\201D";
  }
}

.blkq {
  margin: 0 0 1rem;
  display: inline-block;
  width: 100%;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  color: #fff;
  background: #282828 url("/images/quote-bg.svg") left top no-repeat;
  background-size: contain;
}
